<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/fontello.css">
  <link rel="stylesheet" href="css/estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <title>Administrador de Clientes</title>
</head>
<body>
<div align="center">
  <h1>Listado de Clientes</h1>

  <br />
  <div class="d-grid gap-2 col-4">
    <a class="text-decoration-none btn btn-secondary  btn-sm" href="/tienda" >Volver al menú pricipal</a>
    <a class="text-decoration-none btn btn-secondary  btn-sm" href="/tienda/clientes/new">Crear Nuevo</a>
  </div>
  <br />

  <table class="table table-striped table-light table-hover col-md-6">
    <thead>
    <tr>
      <th>Cliente ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${listClientes}">
      <td th:text="${cliente.id}">Cliente ID</td>
      <td th:text="${cliente.nombre}">Nombre</td>
      <td th:text="${cliente.apellido}">Apellido</td>
      <td><a th:href="@{'/tienda/clientes/edit/' +

${cliente.id}}">Editar</a>

        &nbsp;&nbsp;&nbsp; <a
                th:href="@{'/tienda/clientes/delete/' +

${cliente.id}}">Borrar</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>