<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Tienda Ropita</title>
</head>
<body>
<div align="center">
  <h1>Tienda Ropita</h1>
  <h2>Menú Principal</h2>
  <h3>2022 1C</h3>
</div>
<br />
<div align="left">
  <ul>
    <li><a href="/tienda/prendas/list">Listado de prendas</a></li>
    <li><a href="/tienda/clientes/list">Listado de clientes</a></li>
    <li><a href="/tienda/ventas/list">Listado de ventas</a></li>
  </ul>
  <br />
</div>
</body>
</html>