<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Administrador de Ventas</title>
</head>
<body>
<div align="center">
  <h1>Listado de Ventas</h1>
  <br />
  <table>
    <tbody>
    <tr>
      <th><button style="background-color: #008CBA; font-size:

medium; font-family:Arial; ">

        <a style="color: white" href="/tienda">Volver al menú

          pricipal</a></button></th>

      <th>&nbsp;</th>
      <th><button style="background-color: #008CBA; font-size:

medium; font-family:Arial;">

        <a style="color: white"

           href="/tienda/ventas/efectivo/new">Crear una nueva

          Venta Efectivo</a></button></th>

      <th><button style="background-color: #008CBA; font-size:

medium; font-family:Arial;">

        <a style="color: white"

           href="/tienda/ventas/tarjeta/new">Crear una nueva
          Venta Tarjeta</a></button></th>

    </tr>
    </tbody>
  </table>
  <br />
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Venta ID</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Importe</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="venta : ${listVentas}">
      <td th:text="${venta.id}">Venta ID</td>
      <td th:text="${venta.fecha}">Fecha</td>
      <td th:text="${venta.razonSocial}">Cliente</td>
      <td th:text="${venta.importeFinalStr}"

          style="text-align:right;">Importe Final</td>

      <td><a th:href="@{'/tienda/ventas/show/' +

${venta.id}}">Mostrar</a>

        &nbsp;&nbsp;&nbsp;

        <!-- <a th:href="@{'/tienda/ventas/delete/' +
        ${venta.id}}">Borrar</a> -->
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>