<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/fontello.css">
  <link rel="stylesheet" href="css/estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <title>Crea un nuevo Item de Venta</title>
</head>
<body>
<div align="center">
  <h1>Crear un nuevo Item de Venta</h1>
  <br />
  <table class="table table-striped table-light table-hover col-md-6">
    <tbody>
    <tr>

      <!-- <th><a href="/tienda/ventas/show_ventas">Volver al detalle de la
      venta</a></th> -->

      <th>&nbsp;</th>
      <th><a href="/tienda/ventas/list">Volver al listado ventas</a></th>
    </tr>
    </tbody>
  </table>
  <br />
  <form action="#" th:action="@{/tienda/ventas/item/save}"
        th:object="${pedidoVentaItem}" method="post">
    <table border="0" cellpadding="10">
      <tr>
        <td>Venta:</td>
        <td><input type="text" th:field="*{ventaId}" readonly="readonly"

        /></td>

      </tr>
      <tr>
        <td>Prenda:</td>
        <td><input type="text" th:field="*{prendaId}" /></td>
      </tr>
      <tr>
        <td>Cantidad:</td>
        <td><input type="text" th:field="*{cantidad}" /></td>
      </tr>
      <tr>
        <td colspan="2"><button> <a th:href="@{'/tienda/ventas/show/' +

${pedidoVentaItem.ventaId}}">Volver</a> </button></td>

        <td colspan="2"><button type="submit">Grabar</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>